@model CMPH_Financial.Models.RegisterFromInviteViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row mt">
    @using (Html.BeginForm("RegisterFromInvite", "Account", FormMethod.Post, new { enctype = "Multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-lg-8">
            <h4><i class="fa fa-angle-right"></i>Register</h4>
            <div class="form">
                <form class="cmxform form-horizontal style-form" id="signupForm" method="get" action="">

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.ProfileImage, new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.ProfileImage, new { @class = "form-control", @name = "image", @type = "file", @id = "fileUpload" })
                            @Html.ValidationMessageFor(m => m.ProfileImage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-round btn-success" value="Register" type="submit">Save</button>
                            <button class="btn btn-round btn-success" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    }
</div>
